{% extends "base.html" %}

{% block content %}
<div class=abt_t><h1>About UCR Interest</h1></div>
<div class=abt_bx>
  <div class=abt_itm>
  	<div class=abt_dscrp>UCR Interest is an image collecting and sharing website</div>
  	<div class=abt_img><img src="/static/about/abt_0.png" width="300" height="200"></div>
  </div>

  <div class=abt_itm>
  	<div class=abt_img><img src="/static/about/abt_1.png"></div>
  	<div class=abt_dscrp>Users can "Repin" images to their boards</div>
  </div>

  <div class=abt_itm>
  	<div class=abt_dscrp>Look at other users' pins</div>
  	<div class=abt_img><img src="/static/about/abt_2.png" width="300" height="200"></div>
  </div>

  <div class=abt_itm>
  	<div class=abt_img><img src="/static/about/abt_3.png" width="300" height="200"></div>
  	<div class=abt_dscrp>...and comment on pins</div>
  </div>
</div>
{% endblock %}
