<!DOCTYPE html>
<html lang=en>
  <head>
   {%if current_user.is_authenticated() %} 
    <title>{{current_user.uname}}/UCR Interest</title>
    {% else %}
    <title>UCR Interest</title>
    {% endif %}
    <!-- styles -->
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
    <link href="/static/colorbox.css" rel="stylesheet" type="text/css" />
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/jquery.colorbox-min.js"></script>
    <script src="/static/jquery.masonry.min.js"></script>
    <script src="/static/script.js"></script>
  </head>
  <body>
      <div class="header_panel">
			<!-- logo -->
			<a href="/index" class="logo"></a>

			<!-- search -->
			<form action="" method="get" class="search">
				<input autocomplete="off" name="q" size="27" placeholder="Search" type="text" />
				<input name="search" type="submit" />
			</form>

			<!-- navigation -->
			<ul class="nav">
				{% if current_user.is_authenticated() %}
					{% if upform %}
                		<li><a href="#add_form" id="login_pop">Add +</a></li>
                	{% endif %}
				{% else %}
					<li><a href="{{ url_for('profile.register') }}">Register</a></li>
				{% endif %}
				<li>
					<a href="/about">About<span></span></a>
					<ul>
						<li><a href="/about">Help</a></li>
						<li><a href="{{ url_for('team.team') }}">Team</a></li>
					</ul>
				</li>
				<li>
				{%if current_user.is_authenticated() %}	
					<a href="{{ url_for('viewprofile.viewprofile') }}">{{ current_user.uname }}<span></span></a>
					<ul>
						<li><a href="#">Boards</a></li>
						<li><a href="#">Pins</a></li>
						<li><a href="#">Likes</a></li>
						<li class="div"><a href="#">Settings</a></li>
						<li><a href="{{ url_for('logout') }}">Logout</a></li>
					</ul>
					{% else %}
					<a href="{{ url_for('login.login') }}">Login<span></span></a>
					{% endif %}
				</li>
			</ul>
		</div>

			<!-- upload form -->
			{% if upform %}
				<a href="#x" class="overlay" id="add_form"></a>
				<div class="popup">
					<div class="header">
						<a class="close" href="#close">x</a>
						<h2>Upload a Pin</h2>
					</div>
					<form action="/upload" method=POST enctype="multipart/form-data">
						{{ upform.hidden_tag() }}
					    <dl>
					        <dt>Title<dd>{{upform.title(size=30)}}
					        <dt>File<dd>{{upform.photo()}}
					        <dt>Caption<dd>{{upform.dscrp(size=80)}}</textarea>
					    </dl>
					    <p><input type=submit value=Post></p>
					</form>
					{% for message in get_flashed_messages() %}
						<div id="upload_result">{{ message }}</div>
	  				{% endfor %}
				</div>
			{% endif %}

		<div class="main_container">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }} </li>
			{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}
		</div>
  </body>
</html>
