<div class="pin bigpin">
	<div class="owner">
		<a href="#" class="button follow_button">Follow</a>
		<p class="owner_name"><a target="_blank" href="#">{{pin.pinner.uname}}</a></p>
		<p class="owner_when">Uploaded {{pin.date.strftime('%I:%M%p %m-%d-%Y')}}</p>
	</div>
	<div class="holder">
		<div class="actions">
			<a href="#" class="button">Repin</a>
			<a href="#" class="button">Like</a>
            <a href="#" class="button">Delete</a>
		</div>
		<a class="image" href="#" title="{{pin.title}}">
			<img alt="{{ pin.title }}" src="/uploads/{{pin.img}}">
		</a>
	</div>
	<p class="desc">{{ pin.dscrp }}</p>

	<div class="comments"></div>
	<form class="comment" method="post" action="#">
		<input type="hidden" name="id" value="0" />
		<textarea placeholder="Add a comment..." maxlength="1000"></textarea>
		<button type="button" class="button">Comment</button>
	</form>
</div>
