{% extends "base.html" %}
{% block content %}
<div class=edata>
	<div class="edt_wrapper">
		<div class="edt_title"><h1>Editing Pin</h1></div>
		<a class="image ajax" href="/pin/{{pin.id}}" title="{{ pin.title }}">
			<img alt="{{ pin.title }}" src="/uploads/{{pin.img}}">
		</a>
		<div class="pin_dscrp">{{ pin.dscrp }}</div>
			<div class="new_dscrp">
				<form action="" method=POST class=ed-post>
					<textarea class="rnd_descrip" name=dscrp rows=2 cols=40 placeholder="New Description"></textarea>
					<input type=submit class="rnd_btn" value=Update>
				</form>
			</div>
			<div class="btn_delete">
				<form action="#del_confirm" method=GET class=del-post>
					<input type=submit class="rnd_btn" value="Delete Pin">
				</form>
			</div>
		</div>
	</div>

	<!-- delete confirm box -->
	<a href="" class="overlay" id="del_confirm"></a>
	<div class="popup">
		<p>Are you sure you want to delete this pin?</p>
		<form action="/delete" method=POST>
			<input type=hidden name=id value="{{pin.id}}"></input>
			<input type=submit class="rnd_btn" value="Delete Pin">
			<a href=""><button type="button" class="rnd_btn">Cancel</button></a>
		</form>

	</div>
</div>
{% endblock %}
