{% extends "base.html" %}

{% block content %}
<div class=hlp_wrapper>

  <div class=hlp_sep_t><h1>Getting Started</h1></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Welcome and thank you for using UCRinterest!</p>
      <p>To get started, navigate to the top-right of the page and click on the "Register" button.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg.png" align="middle"> 
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Alternatively, clicking here will bring you back to the home page.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/home_btn.png" align="middle"> 
    </div>
  </div>


  <div class=hlp_sep_t><h1>Registration</h1></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>When you register, you will be brought to this form.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_form.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Registration is an easy process. To start, pick a username of your desire.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_0.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Pick a password. Your password should be anywhere from 3 to 50 characters long.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_1.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Next, fill in your first and last name.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_2.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Remember to add your email too so we can contact you.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_3.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Now add in your gender and birthday.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_4.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Lastly, enter a fancy description of yourself and press "Register"!</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_5.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>If you see this message, your username has been taken. Select another.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg_error.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Congratulations on making a profile on UCRinterest!</p>
    </div>
  </div>


  <div class=hlp_sep_t><h1>Logging In</h1></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Welcome and thank you for using UCRinterest!</p>
      <p>To get started, navigate to the top-right of the page and click on the "Register" button.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/reg.png" align="middle"> 
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>You should reach the login page automatically after submitting your registration form.</p>
      <p>You can always click on the "Login" button at the top-right at any time.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/login_btn.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>This will be the login form you'll see.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/login_0.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Just enter your username.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/login_1.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>...Along with your password and press "Login".</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/login_2.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep_t><h1>User Profile</h1></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>After you have logged in, you will be brought to the home page.</p>
      <p>Click on your username to access your user profile.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/userprof_btn.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>You will then brought to your user profile.</p>
      <p>This is a sample of what you may see.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/userprof.png" width="780" height="386" align="middle">
    </div>
  </div>


  <div class=hlp_sep_t><h1>About/Help/Team</h1></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Clicking the "About" button will bring you to our About page.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/about_btn.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Clicking the "Help" button will bring you this help page.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/help_btn.png" align="middle">
    </div>
  </div>

  <div class=hlp_sep></div>
  <div class=hlp_bx>
    <div class=hlp_txt>
      <p>Clicking the "Team" button will show you the people who made this possible.</p>
    </div>
    <div class=hlp_img>
      <img src="static/help/team_btn.png" align="middle">
    </div>
  </div>

</div>
{% endblock %}
