<!DOCTYPE html>
<html lang=en>
  <head>
    <title>UCR Interest</title>
    <!-- styles -->
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header_panel">
        <!-- logo -->
        <a href="/index" class="logo"></a>
    </div>
    <div class=box_login>
      <center><h1>Login</h1></center>
      <form action="" method=post>
        <dl>
          <dt>Username:
          <dd><input type=text name=username placeholder=Username>
          <dt>Password:
          <dd><input type=password name=password placeholder=Password>
          <dd><input class=btn_rt type=submit value=Login>
        </dl>
      </form>
    </div>
  </body>

