<!DOCTYPE html>
<html lang=en>
  <head>
    <title>UCR Interest</title>
    <!-- styles -->
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header_panel">
        <!-- logo -->
        <a href="/index" class="logo"></a>
    </div>
    <div class=lgn_box>
      <center><h1>Login</h1></center>
      <form action="" method=post>
        <dl>
          <dd><input type=text class=rnd name=username placeholder=Username>
          <dd><input type=password class=rnd name=password placeholder=Password>
          <dd><div class=lgn_lgn><input type=submit class=rnd_btn value=Login></div>
              <div class=lgn_reg><input type="button" class=rnd_btn value="Register" onClick="window.location='{{ url_for('profile.register') }}' "></div>
        </dl>
      </form>
    </div>
  </body>
