{% extends "base.html" %}
{% block content %}
<div class=wrapper>
  <!-- Get form helper -->
  {% from "_formhelpers.html" import render_field %}
  <form method=post action="/settings/pwd">
  {{ form.csrf_token }}
    <dl>
      <div class=fld_bx2>{{ render_field(form.old_pwd) }}</div>
      <div class=fld_bx2>{{ render_field(form.pwd) }}</div>
      <div class=fld_bx2>{{ render_field(form.confirm) }}</div>
    </dl>
    <p><center><input type=submit action="#confirm" value="Change Password"></center>
  </form>
</div>
{% endblock %}
