{% extends "base.html" %}
{% block content %}
<div class="pass_wrapper">
  <div class="pass_bx"><h1>Change Password</h1></div>
  <!-- Get form helper -->
  {% from "_formhelpers.html" import render_field %}
  <form method=post action="/settings/pwd">
  {{ form.csrf_token }}
    <dl>
      <div class="pass_bx">{{ render_field(form.old_pwd, class_="rnd", placeholder="Old Password") }}</div>
      <div class="pass_bx">{{ render_field(form.pwd, class_="rnd", placeholder="New Password") }}</div>
      <div class="pass_bx">{{ render_field(form.confirm, class="rnd", placeholder="Confirm Password") }}</div>
    </dl>
    <div class="pass_btn_l"><input type=submit class="rnd_btn" action="#confirm" value="Change"></div>
    <div class="pass_btn_r"><a href="/settings"><button type="button" class="rnd_btn">Cancel</button></a></div>
  </form>
</div>
{% endblock %}
