<div class="pin" pin_id={{pin.id}}>
        <p class = "info">
            {% if pin.orig %}
                <span>Pinned by <b>{{ pin.pinner.uname }}</b></span>   
            {% else %}
                <span>Repinned by <b>{{ pin.pinner.uname }}</b></span>   
            {% endif %}   
	<div class="holder">
		{% if current_user.is_authenticated() %}
		<div class="actions" pin_id="{{ pin.id }}">
			<form method="POST">
				<input type="hidden" name="id" value="{{ pin.id }}" />
				<button type="submit" class="button" formaction="/repin">Repin</button>
			</form>
			{% if current_user.id == pin.pinner.id %}
				<a href="/pin/{{pin.id}}/edit" class="button">Edit</a>
			{% else %}
				<form method="POST">
					<input type="hidden" name="id" value="{{ pin.id }}" />
					<button type="submit" class="button" formaction="/like">{% if pin.is_liked() %}Unlike{% else %}Like{% endif %} </button>
				</form>
			{% endif %}
			<a href="#" class="button comment_tr">Comment</a>
		</div>
		{% endif %}
		<a class="image ajax" href="/pin/{{pin.id}}" title="{{ pin.title }}">
			<img alt="{{ pin.title }}" src="/uploads/{{pin.img}}">
		</a>
	</div>
    <p class="desc">{{ pin.dscrp }}</p>
	<p class="info">
		<span>{{ pin.like_count }} likes</span>
		<span>{{ pin.repins }} repins</span>
	</p>
	<div class="comments">
		{% for comment in pin.cmts %}
		{% include 'comment.html' %}
		{% endfor %}
	</div>
	<form class="comment" method="post" action="" style="display: none">
		<input type="hidden" name="id" value="{{ pin.id }}" />
		<textarea placeholder="Add a comment..." maxlength="1000" name="val"></textarea>
		<button type="submit" class="button" formaction="/add_comment">Comment</button>
	</form>
</div>
