{% extends "viewprofile.html" %}
{% block profile %}
{% for user in users %}
<div class=wrapper2>
	<div class=top_bar2>
	    <div class=profile_pic2>
          <img width=100px height=90px alt="Profile Picture" src="/uploads/{{user.img}}"/>
	    </div>
	    <div class=profile_info2>
	      <a href="/viewprofile/{{user.uname}}/pins"><name>{{user.fname}} {{user.lname}}</name></a>
	      <p>{{user.dscrp}}</p>
	      <p><a href="{{user.email}}">{{user.email}}</a></p>
	    </div>
  	</div>
</div>
{% endfor %}

{% endblock %}
