<!DOCTYPE html>
<html lang=en>
  <head>
    <title>UCR Interest</title>
    <!-- styles -->
    <link href="/static/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header_panel">
        <!-- logo -->
        <a href="/index" class="logo"></a>
    </div>
    <div class=box_register>
      <center><h2>Register</h2></center>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/register">
          {{ form.csrf_token }}
          <dl>
            {{ render_field(form.uname) }}
            {{ render_field(form.fname) }}
            {{ render_field(form.lname) }}
            {{ render_field(form.email) }}
            {{ render_field(form.gender) }}
            {{ render_field(form.bday) }}
            {{ render_field(form.pwd) }}
            {{ render_field(form.confirm) }}
            {{ render_field(form.dscrp) }}
          </dl>
          <p><center><input type=submit value=Register></center>
        </form>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
    </div>
  </body>
