{% extends "base.html" %}
{% block content %}

<div class=t_members>
  <div class=t_mem_box>
    <div class=t_dscrp>
      Zachary
    </div>
    <div class=t_pic>
      <img src="static/team/Zac.png" width="200" height="200" alt="Zac">
    </div>
  </div>
  <div class=t_mem_box>
    <div class=t_pic>
      <img src="static/team/Ben.png" width="200" height="200">
    </div>
    <div class=t_dscrp>
      Ben
    </div>
  </div>
  <div class=t_mem_box>
    <div class=t_dscrp>
      Alan
    </div>
    <div class=t_pic>
      <img src="static/team/Alan.png" width="200" height="200">
    </div>
  </div>
  <div class=t_mem_box>
    <div class=t_pic>
      <img src="static/team/Eddie.png" width="200" height="200">
    </div>
    <div class=t_dscrp>
      Eddie
    </div>
  </div>
</div>

{% for pin in pins %}
{% include 'pin.html' %}
{% endfor %}

{% endblock %}
