{% extends "base.html" %}
{% block content %}

<div class=t_members>
  <div class=t_mem_box_l>
    <div class=t_dscrp>
      Zachary, programmer extraordinaire, who made the front page and implemented many important features.
    </div>
    <div class=t_pic>
      <img src="static/team/Zac.png">
    </div>
  </div>
  <div class=t_mem_box_r>
    <div class=t_pic>
      <img src="static/team/Ben.png">
    </div>
    <div class=t_dscrp>
      Ben, the backend man, without him, the site would not have been possible.
    </div>
  </div>
  <div class=t_mem_box_l>
    <div class=t_dscrp>
      Alan, the frontend guy, made much of the graphical additions to make things neat. Floater of the group.
    </div>
    <div class=t_pic>
      <img src="static/team/Alan.png">
    </div>
  </div>
  <div class=t_mem_box_r>
    <div class=t_pic>
      <img src="static/team/Eddie.png">
    </div>
    <div class=t_dscrp>
      Eddie, the documentation man. Singlehandedly did the group documentation.
    </div>
  </div>
</div>

{% for pin in pins %}
{% include 'pin.html' %}
{% endfor %}

{% endblock %}
