<!doctype html>
<title>viewprofile</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=pin_wrapper>
  <div class=pin_top>
    <div class=pin_usr_pic><p>User Pic</p></div>
    <div class=pin_lbox><h2>User - Title</h2></div>
    <div class=pin_rbox><h2>Creation Date</h2></div>
  </div>
  <div class=pin_mid>
    <div class=pin_pic>
      <p>Image file here</p>
    </div>
  </div>
  <div class=pin_low>
    <p>Description herewadawdaw.</p>
  </div>
</div>