{% extends "base.html" %}
{% block content %}
<div class=wrapper>
  <div class=top_bar>
    <div class=profile_pic>
        <img width=180px height=180px alt="Profile Picture" src="/uploads/{{user.img}}">
    </div>
    
    <div class=profile_info>
      <name>{{user.fname}} {{user.lname}}</name>
      <p>{{user.dscrp}}</p>
      <p><a href="{{user.email}}">{{user.email}}</a></p>
    </div>
    <div class=repins>
      <h2>Repins from</h2>
    </div>
  </div>
  <div class=mid_bar>
    <div class=btn_left><div class=btn_txt><h3>Boards</h3></div></div>
    <a href="/viewprofile/pins"><div class=btn_left><div class=btn_txt><h3>Pins</h3></div></div></a>
    <a href="/viewprofile/likes"><div class=btn_left><div class=btn_txt><h3>Likes</h3></div></div></a>
    <a href="/viewprofile/favorites"><div class=btn_left><div class=btn_txt><h3>Favorites</h3></div></div></a>
    <a href="/settings"><div class=btn_right><div class=btn_txt><h3>Settings</h3></div></div></a>
    <a href="/viewprofile/following"><div class=btn_right><div class=btn_txt><h3>Following</h3></div></div></a>
    <a href="/viewprofile/followers"><div class=btn_right><div class=btn_txt><h3>Followers</h3></div></div></a>
  </div>
</div>
  <div class=low_bar>
    {% block profile %}{% endblock %}
  </div>
{% endblock %}
