<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>UCR Interest</title>
    {% endif %}
  </head>
  <body>
      <div>
			<a href="/index">UCR Interest</a>
			| <a href="/about">about</a>
			| {% if user %}
				<a href="/user/{{user.name}}">{{user.name}}</a>
			{% else %}
				<a href="/login">Sign In</a>
			{% endif %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
  </body>
</html>
